body {
    background-image: url("http://akn.by/fileadmin/user_upload/267_karkasnyy-dom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.main {
 height: 100vh;
    background-image: linear-gradient(rgba(29, 18, 18, 0.4),rgba(67, 38, 52, 0.6));
}

/*HEADER STYLE START*/
.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    font-weight: bold;
    box-shadow: 20px 2px 20px;
    width: 100%;
    
    
}
.link:hover {
    transform: scale(1.4);
   box-shadow: 8px 5px 8px 5px;
}
/*HEADER STYLE END*/

/*Intro STYLE START*/

    
.title {
    margin-top: 150px;
    color: white;
    font-size: 30px;
    margin-left: 50px;
}
.information {
    font-size: 25px;
    color: wheat;
    margin-left: 650px;
}
h1 {
    max-width: 700px;
}
/*Intro STYLE END*/
/*Buttons STYLE Start*/
.wrapper {
    max-width: 800px;
    background-color: azure;
    margin: 0 auto;
    height: 450px;
    margin-top: 110px;
    box-shadow: 20px 2px 20px;
}

.filter-title {
    display: flex;
    justify-content: center;
}
.buttons-position {
    display: flex;
    justify-content: center;
     flex-direction: column;
 
}
button {
    font-size: 20px;
    width: 30%;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 20px 2px 20px;
    margin-bottom: 5px;
}

button:hover {
    transform: scale(1.4);
   box-shadow: 8px 5px 8px 5px;
}
/*Buttons STYLE end*/

/*Houses STYLE Start*/
.houses-wrapper {
    display: flex;
    
    
}